@font-face {
    font-family: Medium500;
    src: url(/assets/font/Jost-Medium.ttf)
}

@font-face {
    font-family: Regular400;
    src: url(/assets/font/Jost-Regular.ttf);
}

a {
    text-decoration: none;
}

header {
    .header-top {
        padding: 10px 0;
        border-bottom: 1px solid #dee0ea;

        .social-media {
            span {
                font-family: Medium500;
                font-size: 13px;

            }

            i {

                margin-left: 5px;
            }

            .medias {
                position: absolute;
                z-index: 1;
                margin-top: 12px;
                background-color: white;
                padding: 10px;
                width: 15%;
                border: 1px solid #dee0ea;
                box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
                a {
                    display: block;
                    font-family: Regular400;
                    font-size: 14px;
                    color: #212529;
                    margin: 10px 0;

                    i {
                        padding: 0 10px;
                    }
                }
                p{
                    font-family: Regular400;
                    font-size: 13px;
                    color: #212529;
                    opacity: .4;
                    padding: 0 10px;
                }
            }

        }

        .offer {
            span {
                font-family: Regular400;
                font-size: 13px;
            }

            a {
                font-family: Medium500;
                font-size: 13px;
                color: #ee403d;
            }
        }

        .right-menu {

            display: flex;
            justify-content: flex-end;

            a {
                font-family: Regular400;
                font-size: 13px;
                margin-top: 4px;
                color: black;
            }

            .language {
                position: relative;
                margin-right: 20px;

                .lang-box {
                    position: absolute;
                    z-index: 1;
                    right: 15px;
                    margin-top: 10px;
                    padding: 10px 60px 10px 10px;
                    border: 1px solid #dee0ea;
                    background-color: white;
                }

                a {
                    font-family: Regular400;
                    font-size: 13px;
                    margin-right: 20px;
                }





                span i {
                    font-size: 10px;
                }
            }

            .usd {
                position: relative;

                .usd-box {
                    position: absolute;
                    z-index: 1;
                    right: 10px;
                    margin-top: 10px;
                    padding: 10px 80px 10px 10px;
                    border: 1px solid #dee0ea;
                    background-color: white;
                }
            }

            span {
                font-family: Regular400;
                font-size: 13px;
                margin-left: 20px
            }

            h4 {
                font-family: Regular400;
                font-size: 13px;
            }
        }
    }
}