@font-face {
    font-family: Medium500;
    src: url(../font/Jost-Medium.ttf)
}

@font-face {
    font-family: Regular400;
    src: url(../font/Jost-Regular.ttf);
}

@font-face {
    font-family: Bold600;
    src: url(../font/Jost-SemiBold.ttf);
}


@media only screen and (max-width: 768px) {
    .header-top {
        display: none;
    }

    .header-bottom {

        .logo {
            text-align: center;
            justify-content: space-between;

            .image {
                width: 50%;

                img {
                    width: 40% !important;
                }
            }

        }
    }

    .nav-all {
        display: none !important;
    }

    .icons .login,
    .search,
    .wishlist {
        display: none;
    }

    .sidebar {
        width: 50% !important;

        a {
            display: flex;
            justify-content: flex-start;
        }
    }

    .icons {
        .close {
            display: none;
        }
    }

    .search-modal {
        width: 60%;
        position: absolute;
        top: 61px !important;
        left: 0px;
    }

    .slide-image .text {
        .text {
            width: 30%;
        }
    }
    footer{
        
        .policy{
            a{
                display: none;
            }
        }
    }
}

@media all and (min-width: 768px) and (max-width: 992px) {
    .header-top {
        display: none;
    }

    .header-bottom {
        .logo {
            text-align: center;
            justify-content: space-between;

            .image {
                width: 50%;

                img {
                    width: 40% !important;
                }
            }

        }
    }

    .nav-all {
        display: none !important;
    }

    .icons .login,
    .search,
    .wishlist {
        display: none;
    }

    .sidebar {
        width: 50% !important;
    }

    .search-modal {
        position: absolute;
        top: 72px !important;
        left: 0px;
        width: 70%;
    }

    .icons {
        .close {
            display: none;
        }
    }

    .slide-image .text {
        .text {
            width: 30%;
        }
    }
    footer{
        
        .policy{
            a{
                display: none;
            }
        }
    }

}

@media only screen and (min-width: 992px) {}

a {
    text-decoration: none;
}

header {
    .header-top {
        padding: 10px 0;
        border-bottom: 1px solid #dee0ea;

        .social-media {
            span {
                font-family: Medium500;
                font-size: 13px;
                cursor: pointer;
            }

            i {

                margin-left: 5px;
            }

            .medias {
                position: absolute;
                z-index: 10;
                margin-top: 12px;
                background-color: white;
                padding: 10px;
                width: 15%;
                border: 1px solid #dee0ea;
                box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;

                a {
                    display: block;
                    font-family: Regular400;
                    font-size: 14px;
                    color: #212529;
                    margin: 10px 0;

                    i {
                        padding: 0 10px;
                    }
                }

                p {
                    font-family: Regular400;
                    font-size: 13px;
                    color: #212529;
                    opacity: .4;
                    padding: 0 10px;
                }
            }

        }

        .offer {
            span {
                font-family: Regular400;
                font-size: 13px;
            }

            a {
                font-family: Medium500;
                font-size: 13px;
                color: #ee403d;
            }
        }

        .right-menu {

            display: flex;
            justify-content: flex-end;

            a {
                font-family: Regular400;
                font-size: 13px;
                margin-top: 4px;
                color: black;
            }

            .language {
                position: relative;
                margin-right: 20px;
                z-index: 3;
                cursor: pointer;

                .lang-box {
                    position: absolute;
                    z-index: 1;
                    right: 15px;
                    margin-top: 10px;
                    padding: 10px 60px 10px 10px;
                    border: 1px solid #dee0ea;
                    background-color: white;
                }

                a {
                    font-family: Regular400;
                    font-size: 13px;
                    margin-right: 20px;
                }





                span i {
                    font-size: 10px;
                }
            }

            .usd {
                position: relative;
                cursor: pointer;
                z-index: 3;

                .usd-box {
                    position: absolute;
                    z-index: 1;
                    right: 10px;
                    margin-top: 10px;
                    padding: 10px 80px 10px 10px;
                    border: 1px solid #dee0ea;
                    background-color: white;
                }
            }

            span {
                font-family: Regular400;
                font-size: 13px;
                margin-left: 20px
            }

            h4 {
                font-family: Regular400;
                font-size: 13px;
            }
        }
    }

    .header-bottom {
        .link {
            padding: 30px 0;
        }

        border-bottom: 1px solid #dee0ea;

        .overlay {
            position: fixed;
            display: none;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: rgba(0, 0, 0, 0.5);
            z-index: 1100;
        }

        .logo {
            display: flex;
            align-items: center;

            .move-sidebar {
                transform: translate(-540px, 0);
            }

            .sidebar {

                position: fixed;
                top: 0;
                left: 0;
                transition: .5s;
                background-color: White;
                width: 22%;
                height: 100vh;
                padding: 15px 25px;
                z-index: 1200;
                overflow-y: scroll;

                &::-webkit-scrollbar {
                    width: 5px;
                }

                &::-webkit-scrollbar-thumb {
                    background-color: gray
                }

                .sidebar-top {
                    display: flex;
                    justify-content: space-between;
                    margin-bottom: 20px;

                    .logo-image {
                        width: 90%;

                        img {
                            width: 45%;
                        }
                    }
                }

                .text {
                    .box {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                    }
                }

                .close-icon {
                    display: flex;
                    justify-content: flex-end;
                    padding: 7px;
                    font-size: 15px;
                    cursor: pointer;
                    background-color: #dee0ea;
                }

                h4 {
                    font-family: Medium500;
                    font-size: 15px;
                }

                a {
                    display: block;
                    color: black;
                    font-family: Regular400;
                    font-size: 16px;
                    margin: 12px 0;
                }

            }

            i {
                margin-right: 20px;
                font-size: 20px;
                cursor: pointer;
            }

            .image {
                width: 80%;

                img {
                    width: 80%;
                }
            }
        }

        .nav-all {
            position: relative;
            display: flex;
            align-items: center;

          

            a {
                font-family: Medium500;
                font-size: 15px;
                color: black;
                margin-right: 30px;

                i {
                    margin-left: 2px;
                }
            }

            .home {

                display: flex;

                .home-box {
                    position: absolute;
                    top: 83px;
                    left: -20px;
                    padding: 10px 150px 10px 20px;
                    background-color: white;
                    border: 1px solid #dee0ea;
                    z-index: 10;

                    a {

                        display: block;
                        margin: 10px 0;
                        font-family: Regular400;
                        font-size: 15px;
                    }
                }
            }

            .shop {
                display: flex;

                .shop-box {
                    position: absolute;
                    left: -220px;
                    top: 83px;
                    background-color: white;
                    border: 1px solid #dee0ea;
                    width: 1300px;
                    padding: 20px 30px;
                    z-index: 10;

                    .list {
                        width: 100%;

                        a {

                            display: block;
                            margin: 10px 0;
                            font-family: Regular400;
                            font-size: 15px;
                        }
                    }


                }
            }
        }

        .icons {
            position: relative;
            display: flex;
            justify-content: flex-end;
            .basket{
                a{
                    position: relative;
                }
                .basket-box{
                    position: absolute;
                    background-color: white;
                    border: 1px solid #dee0ea;
                    z-index: 6;
                    right: 0px;
                    top: 40px;
                    text-align: center;
                    padding: 20px 60px;
                    border-radius: 3px;
                    i{
                        font-size: 50px;
                        margin-bottom: 20px;
                        color: #ee403d;
                    }
                    h4{
                        font-family: Medium500;
                        font-size: 14px;
                    }
                }
            }
            div {
                margin-left: 20px;
                font-size: 20px;
            }


            a {
                position: relative;
                color: black;

                .count {
                    position: absolute;
                    top: 25px;
                    right: -6px;
                    font-size: 10px;
                    color: white;
                    background-color: #ee403d;
                    padding: 1px 4px;
                    border-radius: 50%;
                }

                span {
                    font-family: Regular400;
                    font-size: 13px;
                }
            }

            .close {
                position: absolute;
                right: 115px;
                top: 5px;
                font-size: 20px;

                cursor: pointer;
            }

            .search {

                cursor: pointer;
            }
        }

        .search-modal {
            position: absolute;
            top: 129px;
            left: 0px;
            width: 100%;
            padding: 0 118px;
            height: 100vh;
            z-index: 5;
            background-color: white;
            overflow-y: auto;

            .title {
                display: flex;
                justify-content: space-between;
                margin-top: 20px;
                font-family: Regular400;
                font-size: 16px;

                a {
                    color: #212529;
                }

                i {
                    cursor: pointer;
                }
            }

            .input {
                border-bottom: 2px solid #aeaeae;

                input {
                    width: 100%;
                    border: none;
                    margin-top: 20px;
                    outline: none;

                    ::placeholder {
                        font-family: Regular400;
                        font-size: 15px;
                    }
                }

                i {
                    margin-top: 15px;
                    margin-right: 10px;
                }
            }

            p {
                font-family: Regular400;
                font-size: 14px;
                opacity: .4;
                margin-top: 20px;
            }

        }
    }
}

#product-detail{
    
    .boxs {
        padding: 50px 40px;
        background-color: white;
        .image {
            width: 90%;
            margin: 20px 40px;
    
            img {
                width: 100%;
            }
        }
    
        .text-all {
            margin-top: 20px;
            width: 80%;
            h1{
                font-family: Regular400;
                font-size: 28px;
            }
            .reviews{
                margin-bottom: 10px;
                span{
                    font-family: Medium500;
                    font-size: 13px; 
                }
                i{
                    color: #f9c300;
                    font-size: 10px;
                }
            }
            h2{
                font-family: Medium500;
                    font-size: 20px; 
            }
            p{
                font-family: Regular400;
                font-size: 14px;
            }
            .product-size {
                span {
                    color: black;
                    padding: 7px 30px;
                    line-height: 43px;
                    border: 1px solid rgba(0, 0, 0, 0.259);
    
                }
            }
            .stock{
                font-family: Medium500;
                font-size: 14px;
                color: #47B486;
                background-color: #e9fef5;
                border-radius: 2px;
                padding: 4px 10px;
            }
            
            .add-to-cart{
                margin: 20px 0;
                justify-content: space-between;
                .count{
                    border: 1px solid #dee0ea;
                    padding: 10px 15px;
                    i{
                        font-size: 12px;
                       
                    }
                    span{
                        margin: 0 8px;
                    }
                }
                .button{
                    width: 75%;
                    button{
                        width: 100%;
                        background-color: black;
                        color: white;
                        padding: 10px 0;
                        border: none;
                        transition: all .5s;
                        &:hover{
                            background-color: #9f9f9f;
                        }
                    }
                    
                    
                }
            }
            .add-to-wishlist{
                a{
                    font-family: Regular400;
                    font-size: 14px;
                    color: black;
                    margin-right: 14px ;
                }
            }
            h4{
                font-family: Regular400;
                font-size: 14px;
                color: #dee0ea;
                span{
                    color:black;
                }
            }
            
        }
    
       
    
    }
    .recent-all{
        margin-top: 3rem;
        h3{
            font-family: Medium500;
            font-size: 16px;
            margin-bottom: 30px;
            padding: 20px 0;
        }
        .recent{
            margin: 10px 0;
            width: 100%;
            display: flex;
            
            .image{
                width: 37%;
                img{
                    width: 100%;
                }
            }
            .text{
                width: 100%;
                margin-left: 15px;
                h6{
                    font-family: Regular400;
                    font-size: 14px;
                }
                h5{
                    font-family: Medium500;
                    font-size: 13px;
                }
                
            }
        }
    }
    
    
}
#description{
    .description{
        padding-bottom: 4rem;
        .title{
            span{
                font-family: Medium500;
                font-size: 20px;
                margin-right: 20px;
                color: #aeaeae;
            }
        }
        .text{
            p{
                font-family: Regular400;
                font-size: 16px;
            }
        }
    }
}

#related-products{
    padding-bottom: 3rem;
    span{
        font-family: Medium500;
        font-size: 20px;
        margin-right: 20px;
        
    }
    .product {
        position: relative;
        overflow: hidden;
        margin: 30px 0;

        .images {
            width: 100%;

            img {
                width: 100%;
            }
        }

        .text {
            margin-left: 20px;

            i {
                color: #f9c300;
                font-size: 12px;
                margin: 15px 0;
            }

            span {
                font-family: Medium500;
                font-size: 13px;
                margin: 15px 0;
            }

            a {
                display: block;
                color: black;
                font-family: Regular400;
                font-size: 15px;
                margin-bottom: 10px;
            }

            h4 {
                font-family: Medium500;
                font-size: 15px;
            }
        }


        .icons {
            transition: all .8s;
            position: absolute;
            z-index: 1000;
            top: 10px;
            right: 30px;
            transform: translate(55px, 0);

            a {
                display: block;

            }

            i {
                display: block;
                background-color: white;
                color: black;
                margin: 6px 0;
                font-size: 15px;
                padding: 8px;
                border-radius: 50px;
                cursor: pointer;
                transition: all .4s;

                &:hover {
                    color: white;
                    background-color: #ee403d;
                }


            }
        }

        .transforms {
            transform: translate(0px, 0px);
        }

        .discount {
            position: absolute;
            top: 10px;
            left: 30px;
            z-index: 1000;

            span {
                font-family: Bold600;
                font-size: 13px;
                font-weight: bold;
                color: #47B486;
                background-color: white;
                padding: 4px 6px;
                border-radius: 3px;
            }
        }

        .heart-icon {
            display: none;
            position: absolute;
            z-index: 1000;
            top: 16px;
            right: 30px;
            font-size: 15px;
            color: black;
            background-color: white;
            padding: 8px;
            border-radius: 50px;
            transition: all .4s;
            cursor: pointer;

            &:hover {
                color: white;
                background-color: #ee403d;
            }
        }
    }
}

.boxs-all {
    position: fixed;
    z-index: 1102;
    left: 140px;
    top: 40px;
    width: 80%;
    height: 90%;
    background-color: white;
    padding: 50px 40px;
    
    .image {
        width: 66%;
        margin-left: 60px;

        img {
            width: 100%;
        }
    }

    .text-all {
        margin-top: 20px;
        width: 80%;
        h1{
            font-family: Regular400;
            font-size: 28px;
        }
        .reviews{
            margin-bottom: 10px;
            span{
                font-family: Medium500;
                font-size: 13px; 
            }
            i{
                color: #f9c300;
                font-size: 10px;
            }
        }
        h2{
            font-family: Medium500;
                font-size: 20px; 
        }
        p{
            font-family: Regular400;
            font-size: 14px;
        }
        .product-size {
            span {
                color: black;
                padding: 7px 30px;
                line-height: 43px;
                border: 1px solid rgba(0, 0, 0, 0.259);

            }
        }
        .stock{
            font-family: Medium500;
            font-size: 14px;
            color: #47B486;
            background-color: #e9fef5;
            border-radius: 2px;
            padding: 4px 10px;
        }
        
        .add-to-cart{
            margin: 20px 0;
            justify-content: space-between;
            .count{
                border: 1px solid #dee0ea;
                padding: 10px 15px;
                i{
                    font-size: 12px;
                   
                }
                span{
                    margin: 0 8px;
                }
            }
            .button{
                width: 80%;
                button{
                    width: 100%;
                    background-color: black;
                    color: white;
                    padding: 10px 0;
                    border: none;
                    transition: all .5s;
                    &:hover{
                        background-color: #9f9f9f;
                    }
                }
                
                
            }
        }
        .add-to-wishlist{
            a{
                font-family: Regular400;
                font-size: 14px;
                color: black;
                margin-right: 14px ;
            }
        }
        h4{
            font-family: Regular400;
            font-size: 14px;
            color: #dee0ea;
            span{
                color:black;
            }
        }
        
    }

    .close {
        position: absolute;
        top: 20px;
        right: 20px;
        font-size: 20px;
        color: black;
        border: 1px solid #dee0ea;
        border-radius: 50%;
        padding: 10px 12px;
        cursor: pointer;
    }

}



footer {

    .top {
        background-color: black;
        padding: 60px 100px;

        h2 {
            font-family: Medium500;
            font-size: 30px;
            color: white;
        }

        h5 {
            font-family: Regular400;
            font-size: 16px;
            font-weight: 700;
            color: #5E5E5E;
            margin-bottom: 30px;
        }

        .input {

            margin-bottom: 10px;

            input {
                border: none;
                outline: none;
                height: 45px;
                width: 60%;
            }

            button {
                background-color: black;
                border: 1px solid white !important;
                border-radius: 2px;
                color: white;
                border: none;
                padding: 10px 25px;
                transition: all .4s;

                &:hover {
                    background-color: #949393;
                }
            }
        }

        h6 {
            font-family: Medium500;
            font-size: 12px;
            color: #75767c;
            margin-bottom: 30px;
        }
    }

    .bottom {
        padding: 60px 100px;
            
        .left {
            width: 70%;

            .logo {
                width: 100%;

                img {
                    width: 45%;
                }
            }

            p {
                font-family: Regular400;
                font-size: 14px;
                margin: 20px 0;
            }

            h3 {
                font-family: Regular400;
                font-size: 14px;
            }
        }
        h4 {
            font-family: Bold600;
            font-size: 16px;
        }
        a{
            font-family: Regular400;
            font-size: 15px;
            display: block;
            color: black;
            margin: 5px 0;
        }

    }
    
    .policy{
        padding: 60px 100px;
        p{
            font-family: Regular400;
        font-size: 13px;
        }
        a{
            color: black;
        font-family: Regular400;
        font-size: 13px;
        margin: 0 15px;
        }
    }

   
}