@font-face {
  font-family: Medium500;
  src: url(../font/Jost-Medium.ttf);
}
@font-face {
  font-family: Regular400;
  src: url(../font/Jost-Regular.ttf);
}
@font-face {
  font-family: Bold600;
  src: url(../font/Jost-SemiBold.ttf);
}
@media only screen and (max-width: 768px) {
  .header-top {
    display: none;
  }
  .header-bottom .logo {
    text-align: center;
    justify-content: space-between;
    position: relative !important;
    top: 20px !important;
  }
  .header-bottom .logo .image {
    width: 50%;
  }
  .header-bottom .logo .image img {
    width: 40% !important;
  }
  .nav-all {
    display: none !important;
  }
  .icons .login,
  .search,
  .wishlist {
    display: none;
  }
  .sidebar {
    width: 50% !important;
  }
  .sidebar a {
    text-align: start;
  }
  .basket a {
    bottom: 20px !important;
  }
  .icons .close {
    display: none;
  }
  .basket a {
    bottom: 15px !important;
  }
  .search-modal {
    width: 60%;
    position: absolute;
    top: 61px !important;
    left: 0px;
  }
  .slide-image .text .text {
    width: 30%;
  }
  footer .policy a {
    display: none;
  }
}
@media all and (min-width: 768px) and (max-width: 992px) {
  .header-top {
    display: none;
  }
  .header-bottom .logo {
    text-align: center;
    justify-content: space-between;
    position: relative !important;
    top: 20px !important;
  }
  .header-bottom .logo .image {
    width: 50%;
  }
  .header-bottom .logo .image img {
    width: 40% !important;
  }
  .nav-all {
    display: none !important;
  }
  .icons .login,
  .search,
  .wishlist {
    display: none;
  }
  .sidebar {
    width: 50% !important;
  }
  .sidebar .text a {
    text-align: start !important;
  }
  .search-modal {
    position: absolute;
    top: 72px !important;
    left: 0px;
    width: 70%;
  }
  .icons .close {
    display: none;
  }
  .basket a {
    bottom: 20px !important;
  }
  .slide-image .text .text {
    width: 30%;
  }
  footer .policy a {
    display: none;
  }
}
a {
  text-decoration: none;
}

header .header-top {
  padding: 10px 0;
  border-bottom: 1px solid #dee0ea;
}
header .header-top .social-media span {
  font-family: Medium500;
  font-size: 13px;
  cursor: pointer;
}
header .header-top .social-media i {
  margin-left: 5px;
}
header .header-top .social-media .medias {
  position: absolute;
  z-index: 10;
  margin-top: 12px;
  background-color: white;
  padding: 10px;
  width: 15%;
  border: 1px solid #dee0ea;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
header .header-top .social-media .medias a {
  display: block;
  font-family: Regular400;
  font-size: 14px;
  color: #212529;
  margin: 10px 0;
}
header .header-top .social-media .medias a i {
  padding: 0 10px;
}
header .header-top .social-media .medias p {
  font-family: Regular400;
  font-size: 13px;
  color: #212529;
  opacity: 0.4;
  padding: 0 10px;
}
header .header-top .offer span {
  font-family: Regular400;
  font-size: 13px;
}
header .header-top .offer a {
  font-family: Medium500;
  font-size: 13px;
  color: #ee403d;
}
header .header-top .right-menu {
  display: flex;
  justify-content: flex-end;
}
header .header-top .right-menu a {
  font-family: Regular400;
  font-size: 13px;
  margin-top: 4px;
  color: black;
}
header .header-top .right-menu .language {
  position: relative;
  margin-right: 20px;
  z-index: 3;
  cursor: pointer;
}
header .header-top .right-menu .language .lang-box {
  position: absolute;
  z-index: 1;
  right: 15px;
  margin-top: 10px;
  padding: 10px 60px 10px 10px;
  border: 1px solid #dee0ea;
  background-color: white;
}
header .header-top .right-menu .language a {
  font-family: Regular400;
  font-size: 13px;
  margin-right: 20px;
}
header .header-top .right-menu .language span i {
  font-size: 10px;
}
header .header-top .right-menu .usd {
  position: relative;
  cursor: pointer;
  z-index: 3;
}
header .header-top .right-menu .usd .usd-box {
  position: absolute;
  z-index: 1;
  right: 10px;
  margin-top: 10px;
  padding: 10px 80px 10px 10px;
  border: 1px solid #dee0ea;
  background-color: white;
}
header .header-top .right-menu span {
  font-family: Regular400;
  font-size: 13px;
  margin-left: 20px;
}
header .header-top .right-menu h4 {
  font-family: Regular400;
  font-size: 13px;
}
header .header-bottom {
  border-bottom: 1px solid #dee0ea;
}
header .header-bottom .link {
  padding: 30px 0;
}
header .header-bottom .overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1100;
}
header .header-bottom .logo {
  display: flex;
  align-items: center;
}
header .header-bottom .logo .move-sidebar {
  transform: translate(-540px, 0);
}
header .header-bottom .logo .sidebar {
  position: fixed;
  top: 0;
  left: 0;
  transition: 0.5s;
  background-color: White;
  width: 22%;
  height: 100vh;
  padding: 15px 25px;
  z-index: 1200;
  overflow-y: scroll;
}
header .header-bottom .logo .sidebar::-webkit-scrollbar {
  width: 5px;
}
header .header-bottom .logo .sidebar::-webkit-scrollbar-thumb {
  background-color: gray;
}
header .header-bottom .logo .sidebar .sidebar-top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
header .header-bottom .logo .sidebar .sidebar-top .logo-image {
  width: 90%;
}
header .header-bottom .logo .sidebar .sidebar-top .logo-image img {
  width: 45%;
}
header .header-bottom .logo .sidebar .text .box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .header-bottom .logo .sidebar .close-icon {
  display: flex;
  justify-content: flex-end;
  padding: 7px;
  font-size: 15px;
  cursor: pointer;
  background-color: #dee0ea;
}
header .header-bottom .logo .sidebar h4 {
  font-family: Medium500;
  font-size: 15px;
}
header .header-bottom .logo .sidebar a {
  display: block;
  color: black;
  font-family: Regular400;
  font-size: 16px;
  margin: 12px 0;
}
header .header-bottom .logo i {
  margin-right: 20px;
  font-size: 20px;
  cursor: pointer;
}
header .header-bottom .logo .image {
  width: 80%;
}
header .header-bottom .logo .image img {
  width: 80%;
}
header .header-bottom .nav-all {
  position: relative;
  display: flex;
  align-items: center;
}
header .header-bottom .nav-all a {
  font-family: Medium500;
  font-size: 15px;
  color: black;
  margin-right: 30px;
}
header .header-bottom .nav-all a i {
  margin-left: 2px;
}
header .header-bottom .nav-all .home {
  display: flex;
}
header .header-bottom .nav-all .home .home-box {
  position: absolute;
  top: 83px;
  left: -20px;
  padding: 10px 150px 10px 20px;
  background-color: white;
  border: 1px solid #dee0ea;
  z-index: 10;
}
header .header-bottom .nav-all .home .home-box a {
  display: block;
  margin: 10px 0;
  font-family: Regular400;
  font-size: 15px;
}
header .header-bottom .nav-all .shop {
  display: flex;
}
header .header-bottom .nav-all .shop .shop-box {
  position: absolute;
  left: -220px;
  top: 83px;
  background-color: white;
  border: 1px solid #dee0ea;
  width: 1300px;
  padding: 20px 30px;
  z-index: 10;
}
header .header-bottom .nav-all .shop .shop-box .list {
  width: 100%;
}
header .header-bottom .nav-all .shop .shop-box .list a {
  display: block;
  margin: 10px 0;
  font-family: Regular400;
  font-size: 15px;
}
header .header-bottom .icons {
  position: relative;
  display: flex;
  justify-content: flex-end;
}
header .header-bottom .icons .basket a {
  position: relative;
}
header .header-bottom .icons .basket .basket-box {
  position: absolute;
  background-color: white;
  border: 1px solid #dee0ea;
  z-index: 6;
  right: 0px;
  top: 40px;
  text-align: center;
  padding: 20px 60px;
  border-radius: 3px;
}
header .header-bottom .icons .basket .basket-box i {
  font-size: 50px;
  margin-bottom: 20px;
  color: #ee403d;
}
header .header-bottom .icons .basket .basket-box h4 {
  font-family: Medium500;
  font-size: 14px;
}
header .header-bottom .icons div {
  margin-left: 20px;
  font-size: 20px;
}
header .header-bottom .icons a {
  position: relative;
  color: black;
}
header .header-bottom .icons a .count {
  position: absolute;
  top: 25px;
  right: -6px;
  font-size: 10px;
  color: white;
  background-color: #ee403d;
  padding: 1px 4px;
  border-radius: 50%;
}
header .header-bottom .icons a span {
  font-family: Regular400;
  font-size: 13px;
}
header .header-bottom .icons .close {
  position: absolute;
  right: 115px;
  top: 5px;
  font-size: 20px;
  cursor: pointer;
}
header .header-bottom .icons .search {
  cursor: pointer;
}
header .header-bottom .search-modal {
  position: absolute;
  top: 129px;
  left: 0px;
  width: 100%;
  padding: 0 118px;
  height: 100vh;
  z-index: 5;
  background-color: white;
  overflow-y: auto;
}
header .header-bottom .search-modal .title {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  font-family: Regular400;
  font-size: 16px;
}
header .header-bottom .search-modal .title a {
  color: #212529;
}
header .header-bottom .search-modal .title i {
  cursor: pointer;
}
header .header-bottom .search-modal .input {
  border-bottom: 2px solid #aeaeae;
}
header .header-bottom .search-modal .input input {
  width: 100%;
  border: none;
  margin-top: 20px;
  outline: none;
}
header .header-bottom .search-modal .input input ::-moz-placeholder {
  font-family: Regular400;
  font-size: 15px;
}
header .header-bottom .search-modal .input input ::placeholder {
  font-family: Regular400;
  font-size: 15px;
}
header .header-bottom .search-modal .input i {
  margin-top: 15px;
  margin-right: 10px;
}
header .header-bottom .search-modal p {
  font-family: Regular400;
  font-size: 14px;
  opacity: 0.4;
  margin-top: 20px;
}

#product-detail .boxs {
  padding: 50px 40px;
  background-color: white;
}
#product-detail .boxs .image {
  width: 90%;
  margin: 20px 40px;
}
#product-detail .boxs .image img {
  width: 100%;
}
#product-detail .boxs .text-all {
  margin-top: 20px;
  width: 80%;
}
#product-detail .boxs .text-all h1 {
  font-family: Regular400;
  font-size: 28px;
}
#product-detail .boxs .text-all .reviews {
  margin-bottom: 10px;
}
#product-detail .boxs .text-all .reviews span {
  font-family: Medium500;
  font-size: 13px;
}
#product-detail .boxs .text-all .reviews i {
  color: #f9c300;
  font-size: 10px;
}
#product-detail .boxs .text-all h2 {
  font-family: Medium500;
  font-size: 20px;
}
#product-detail .boxs .text-all p {
  font-family: Regular400;
  font-size: 14px;
}
#product-detail .boxs .text-all .product-size span {
  color: black;
  padding: 7px 30px;
  line-height: 43px;
  border: 1px solid rgba(0, 0, 0, 0.259);
}
#product-detail .boxs .text-all .stock {
  font-family: Medium500;
  font-size: 14px;
  color: #47B486;
  background-color: #e9fef5;
  border-radius: 2px;
  padding: 4px 10px;
}
#product-detail .boxs .text-all .add-to-cart {
  margin: 20px 0;
  justify-content: space-between;
}
#product-detail .boxs .text-all .add-to-cart .count {
  border: 1px solid #dee0ea;
  padding: 10px 15px;
}
#product-detail .boxs .text-all .add-to-cart .count i {
  font-size: 12px;
}
#product-detail .boxs .text-all .add-to-cart .count span {
  margin: 0 8px;
}
#product-detail .boxs .text-all .add-to-cart .button {
  width: 75%;
}
#product-detail .boxs .text-all .add-to-cart .button button {
  width: 100%;
  background-color: black;
  color: white;
  padding: 10px 0;
  border: none;
  transition: all 0.5s;
}
#product-detail .boxs .text-all .add-to-cart .button button:hover {
  background-color: #9f9f9f;
}
#product-detail .boxs .text-all .add-to-wishlist a {
  font-family: Regular400;
  font-size: 14px;
  color: black;
  margin-right: 14px;
}
#product-detail .boxs .text-all h4 {
  font-family: Regular400;
  font-size: 14px;
  color: #dee0ea;
}
#product-detail .boxs .text-all h4 span {
  color: black;
}
#product-detail .recent-all {
  margin-top: 3rem;
}
#product-detail .recent-all h3 {
  font-family: Medium500;
  font-size: 16px;
  margin-bottom: 30px;
  padding: 20px 0;
}
#product-detail .recent-all .recent {
  margin: 10px 0;
  width: 100%;
  display: flex;
}
#product-detail .recent-all .recent .image {
  width: 37%;
}
#product-detail .recent-all .recent .image img {
  width: 100%;
}
#product-detail .recent-all .recent .text {
  width: 100%;
  margin-left: 15px;
}
#product-detail .recent-all .recent .text h6 {
  font-family: Regular400;
  font-size: 14px;
}
#product-detail .recent-all .recent .text h5 {
  font-family: Medium500;
  font-size: 13px;
}

#description .description {
  padding-bottom: 4rem;
}
#description .description .title span {
  font-family: Medium500;
  font-size: 20px;
  margin-right: 20px;
  color: #aeaeae;
}
#description .description .text p {
  font-family: Regular400;
  font-size: 16px;
}

#related-products {
  padding-bottom: 3rem;
}
#related-products span {
  font-family: Medium500;
  font-size: 20px;
  margin-right: 20px;
}
#related-products .product {
  position: relative;
  overflow: hidden;
  margin: 30px 0;
}
#related-products .product .images {
  width: 100%;
}
#related-products .product .images img {
  width: 100%;
}
#related-products .product .text {
  margin-left: 20px;
}
#related-products .product .text i {
  color: #f9c300;
  font-size: 12px;
  margin: 15px 0;
}
#related-products .product .text span {
  font-family: Medium500;
  font-size: 13px;
  margin: 15px 0;
}
#related-products .product .text a {
  display: block;
  color: black;
  font-family: Regular400;
  font-size: 15px;
  margin-bottom: 10px;
}
#related-products .product .text h4 {
  font-family: Medium500;
  font-size: 15px;
}
#related-products .product .icons {
  transition: all 0.8s;
  position: absolute;
  z-index: 1000;
  top: 10px;
  right: 30px;
  transform: translate(55px, 0);
}
#related-products .product .icons a {
  display: block;
}
#related-products .product .icons i {
  display: block;
  background-color: white;
  color: black;
  margin: 6px 0;
  font-size: 15px;
  padding: 8px;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.4s;
}
#related-products .product .icons i:hover {
  color: white;
  background-color: #ee403d;
}
#related-products .product .transforms {
  transform: translate(0px, 0px);
}
#related-products .product .discount {
  position: absolute;
  top: 10px;
  left: 30px;
  z-index: 1000;
}
#related-products .product .discount span {
  font-family: Bold600;
  font-size: 13px;
  font-weight: bold;
  color: #47B486;
  background-color: white;
  padding: 4px 6px;
  border-radius: 3px;
}
#related-products .product .heart-icon {
  display: none;
  position: absolute;
  z-index: 1000;
  top: 16px;
  right: 30px;
  font-size: 15px;
  color: black;
  background-color: white;
  padding: 8px;
  border-radius: 50px;
  transition: all 0.4s;
  cursor: pointer;
}
#related-products .product .heart-icon:hover {
  color: white;
  background-color: #ee403d;
}

.boxs-all {
  position: fixed;
  z-index: 1102;
  left: 140px;
  top: 40px;
  width: 80%;
  height: 90%;
  background-color: white;
  padding: 50px 40px;
}
.boxs-all .image {
  width: 66%;
  margin-left: 60px;
}
.boxs-all .image img {
  width: 100%;
}
.boxs-all .text-all {
  margin-top: 20px;
  width: 80%;
}
.boxs-all .text-all h1 {
  font-family: Regular400;
  font-size: 28px;
}
.boxs-all .text-all .reviews {
  margin-bottom: 10px;
}
.boxs-all .text-all .reviews span {
  font-family: Medium500;
  font-size: 13px;
}
.boxs-all .text-all .reviews i {
  color: #f9c300;
  font-size: 10px;
}
.boxs-all .text-all h2 {
  font-family: Medium500;
  font-size: 20px;
}
.boxs-all .text-all p {
  font-family: Regular400;
  font-size: 14px;
}
.boxs-all .text-all .product-size span {
  color: black;
  padding: 7px 30px;
  line-height: 43px;
  border: 1px solid rgba(0, 0, 0, 0.259);
}
.boxs-all .text-all .stock {
  font-family: Medium500;
  font-size: 14px;
  color: #47B486;
  background-color: #e9fef5;
  border-radius: 2px;
  padding: 4px 10px;
}
.boxs-all .text-all .add-to-cart {
  margin: 20px 0;
  justify-content: space-between;
}
.boxs-all .text-all .add-to-cart .count {
  border: 1px solid #dee0ea;
  padding: 10px 15px;
}
.boxs-all .text-all .add-to-cart .count i {
  font-size: 12px;
}
.boxs-all .text-all .add-to-cart .count span {
  margin: 0 8px;
}
.boxs-all .text-all .add-to-cart .button {
  width: 80%;
}
.boxs-all .text-all .add-to-cart .button button {
  width: 100%;
  background-color: black;
  color: white;
  padding: 10px 0;
  border: none;
  transition: all 0.5s;
}
.boxs-all .text-all .add-to-cart .button button:hover {
  background-color: #9f9f9f;
}
.boxs-all .text-all .add-to-wishlist a {
  font-family: Regular400;
  font-size: 14px;
  color: black;
  margin-right: 14px;
}
.boxs-all .text-all h4 {
  font-family: Regular400;
  font-size: 14px;
  color: #dee0ea;
}
.boxs-all .text-all h4 span {
  color: black;
}
.boxs-all .close {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 20px;
  color: black;
  border: 1px solid #dee0ea;
  border-radius: 50%;
  padding: 10px 12px;
  cursor: pointer;
}

footer .top {
  background-color: black;
  padding: 60px 100px;
}
footer .top h2 {
  font-family: Medium500;
  font-size: 30px;
  color: white;
}
footer .top h5 {
  font-family: Regular400;
  font-size: 16px;
  font-weight: 700;
  color: #5E5E5E;
  margin-bottom: 30px;
}
footer .top .input {
  margin-bottom: 10px;
}
footer .top .input input {
  border: none;
  outline: none;
  height: 45px;
  width: 60%;
}
footer .top .input button {
  background-color: black;
  border: 1px solid white !important;
  border-radius: 2px;
  color: white;
  border: none;
  padding: 10px 25px;
  transition: all 0.4s;
}
footer .top .input button:hover {
  background-color: #949393;
}
footer .top h6 {
  font-family: Medium500;
  font-size: 12px;
  color: #75767c;
  margin-bottom: 30px;
}
footer .bottom {
  padding: 60px 100px;
}
footer .bottom .left {
  width: 70%;
}
footer .bottom .left .logo {
  width: 100%;
}
footer .bottom .left .logo img {
  width: 45%;
}
footer .bottom .left p {
  font-family: Regular400;
  font-size: 14px;
  margin: 20px 0;
}
footer .bottom .left h3 {
  font-family: Regular400;
  font-size: 14px;
}
footer .bottom h4 {
  font-family: Bold600;
  font-size: 16px;
}
footer .bottom a {
  font-family: Regular400;
  font-size: 15px;
  display: block;
  color: black;
  margin: 5px 0;
}
footer .policy {
  padding: 60px 100px;
}
footer .policy p {
  font-family: Regular400;
  font-size: 13px;
}
footer .policy a {
  color: black;
  font-family: Regular400;
  font-size: 13px;
  margin: 0 15px;
}/*# sourceMappingURL=product.css.map */